@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://use.typekit.net/qtm2dsn.css");
/* global variables */
:root {
}

@layer base {
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  .titletext {
    font-family: "wigwag-bold", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .titletext2 {
    font-family: "fatfrank", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  
  
}